nav {
  display: flex;
  justify-content: center;
}
li {
  list-style: none;
  margin-left: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 0.5rem 1rem;
  font-size: 1.4rem;
  /* text-transform: capitalize; */
  background-color: orange;
  color: whitesmoke;
  border-radius: 2px;
  cursor: pointer;
}
.active {
  background-color: rgba(255, 166, 0, 0.432);
}
